@media print {
    body, .example, #example {
      display: block !important;
      position: relative !important;
      width: auto !important;
      height: auto !important;
      overflow: visible !important;
      margin-left: 0 !important;
    }
  }